Data/*
*\.pyc
fred_config.py
twitter_config.py
boxrec_creds.json
*-checkpoint.ipynb
.ipynb_checkpoints/
*\_config.py
*\.log
*/venv/
*/Program Data/
workspace.code-workspace
housing_search/price_history.txt
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
.ipynb_checkpoints/.gitignore-checkpoint
*-checkpoint.txt
housing_search/tax_history.txt
data/
.idea/
